section{width:100%; float:left;}
.banner-section {
  background-image:url('/img/blog/pm-cover.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 55%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background-position:0;
}
.post-title-block{padding:100px 0;}
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.media-body {
  margin-left: 5%;
}
.image-block {
  float:left;
  max-width: 100%;
  height: 100%;
  width:100%;
  margin-bottom:10px;
  object-fit: cover;
  background-image: url("https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
.footer-link a{color:#A9FD00; font-size:18px; text-transform:uppercase;}
.well {
  margin-bottom: 10%;
}
