section {
    width: 100%;
    float: left;
}

.banner-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
}

.pomorie {
    background-image: url('/img/blog/pm-cover.jpg');
}

.primorsko {
    background-image: url('/img/blog/primorsko-cover.jpg');
}

.sinemorets {
    background-image: url('/img/blog/sn-blog.jpg');
}

.post-title-block {
    padding: 115px 0;
}

.post-title-block h1 {
    color: #ffffff;
    font-size: 420%;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5%
}

.post-title-block li {
    font-size: 20px;
    color: #ffffff;
}

.media-body {
    margin-left: 5%;
}

.image-block1 {
    float: left;
    max-width: 100%;
    height: 60%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-block {
    float: left;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    background-image: url("https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-link {
    float: left;
    width: 100%;
    background: #222222;
    text-align: center;
    padding: 30px;
}

.footer-link a {
    color: #a9fd00;
    font-size: 18px;
    text-transform: uppercase;
}

.well {
    display: flow-root;
    width: inherit;
    margin-bottom: 10%;
    padding: 10%;
}

.row{
    display: block;
}

.weatherwidget-io {
    margin-bottom: 5%;
}

.image-desc {
    height: auto;
    width: 100%;
    margin: 2% 0 2% 0;
    object-fit: contain;
}

.media-heading {
    margin-top: 5px;
    text-align: center;
}
